<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TinderBox"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".EditToolProfile"></activity>
        <activity
            android:name=".ToolProfile"
            android:label="@string/title_activity_tool_profile" />
        <activity
            android:name=".ToolList"
            android:label="@string/title_activity_tool_list" />
        <activity
            android:name=".MyTools"
            android:label="@string/title_activity_my_tools">
        </activity>
        <activity android:name=".DisplayTools" />
        <activity android:name=".CreateToolProfile" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>